<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yinao.qualityLife.dao.employerMapper">

	<resultMap id="getUserFromDatabaseMap" type="yinao.qualityLife.model.domain.Employer">
		<id column="emid" property="emid"/>
		<result column="name" property="name"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="headimageurl" property="headimageurl"/>
		<result column="idcard" property="idcard"/>
		<result column="education" property="education"/>
		<result column="age" property="age"/>
		<result column="sex" property="sex"/>  
		<result column="address1" property="address1"/>
		<result column="address2" property="address2"/>
		<result column="address3" property="address3"/>
		<result column="creat_at" property="creat_at"/>
		<result column="update_at" property="update_at"/>
		<result column="create_time" property="create_time"/>
		<result column="update_time" property="update_time"/>
		<result column="role_id" property="role_id"/>
		<result column="servicestate" property="servicestate"/>
		<result column="state" property="state"/>	
		<result column="addresslabel" property="addresslabel"/>
		<result column="roomarea" property="roomarea"/>
		<result column="courtarea" property="courtarea"/>
		<result column="bedroom" property="bedroom"/>
		<result column="restaurant" property="restaurant"/>
		<result column="washroom" property="washroom"/>
		<result column="peoplecount" property="peoplecount"/>
		<result column="oldcount" property="oldcount"/>
		<result column="childcount" property="childcount"/>
		<result column="describes" property="describes"/>
	</resultMap>
 	<resultMap id="getUserSignFromDatabaseMap" type="yinao.qualityLife.model.domain.EmployerSign">
		<id column="hkid" property="hkid"/>
        <result column="username" property="username"/>
        <result column="name" property="name"/>
        <result column="headimageurl" property="headimageurl"/>
        <result column="password" property="password"/>
        <result column="idcard" property="idcard"/>
        <result column="education" property="education"/>
        <result column="address3" property="address3"/>
        <result column="address2" property="address2"/>
        <result column="address1" property="address1"/>
        <result column="sex" property="sex"/> 
        <result column="create_time" property="create_time"/>
        <result column="role_id" property="role_id"/>
        <result column="state" property="state"/> 
        <result column="brief" property="brief"/> 
        <result column="salary" property="salary"/> 
        <result column="workdate" property="workdate"/> 
        <result column="servicestate" property="servicestate"/>         
        <result column="marry" property="marry"/>
        <result column="isdrive" property="isdrive"/>
        <result column="describes" property="describes"/>
        <result column="nativeplace" property="nativeplace"/>
        <result column="sign_job" property="sign_job"/>
        <result column="sign_salary" property="sign_salary"/>
	</resultMap>
	<resultMap id="getUserViewCardFromDatabaseMap" type="yinao.qualityLife.model.domain.ViewCard">
		<id column="viewid" property="viewid"/>
        <result column="emid" property="emid"/>
        <result column="ccid" property="ccid"/>
        <result column="totalcount" property="totalcount"/>
        <result column="remaincount" property="remaincount"/>
        <result column="buytime" property="buytime"/>
        <result column="wxno" property="wxno"/>
	</resultMap>
 	<resultMap id="getUserViewCardPriceFromDatabaseMap" type="yinao.qualityLife.model.domain.ViewCardPrice">
		<id column="primaryid" property="primaryid"/>
        <result column="carprice" property="carprice"/>
        <result column="ccid" property="ccid"/>
        <result column="cardcount" property="cardcount"/>
        <result column="cardname" property="cardname"/>
	</resultMap>
 	<!-- 查询卡信息列表 -->
    <select id="getViewCardPrice" resultMap="getUserViewCardPriceFromDatabaseMap">
    	SELECT * FROM `t_base_employer_cardprice` 
        <where>
        	<if test="ccid != null and ccid != ''">
        		ccid = #{ccid}
        	</if>
        </where>       
    </select>
 	<!-- 雇主信息列表 -->
    <select id="getEmployerInfo" resultMap="getUserFromDatabaseMap">
    	SELECT * FROM `t_base_employer` 
        <where>
        	<if test="username != null and username != ''">
        		and username like CONCAT('%',#{username},'%')
        	</if>
        	<if test="name != null and name != ''">
        		and name like CONCAT('%',#{name},'%')
        	</if>
        	<if test="servicestate != null and servicestate != ''">
        		and servicestate = #{servicestate}
        	</if>
        </where>       
    </select>
    <!-- 雇主信息 -->
    <select id="getEmployerByUserName" resultMap="getUserFromDatabaseMap">
    	SELECT * FROM `t_base_employer` 
        <where>
        	<if test="username != null and username != ''">
        		and username =#{username}
        	</if>
        </where>       
    </select>
    <!-- 雇主查询卡信息 -->
    <select id="getViewCard" resultMap="getUserViewCardFromDatabaseMap">
    	SELECT *
    	FROM `t_base_employer_viewcard` 
        <where>
        	<if test="emid != null and emid != ''">
        		and emid =#{emid}
        	</if>
        	<if test="ccid != null and ccid != ''">
        		and ccid =#{ccid}
        	</if>
        </where>       
    </select>
    
    <!-- 雇主签约信息 -->
    <select id="getSignList" resultMap="getUserSignFromDatabaseMap">
    	SELECT t2.*,t1.job as sign_job,t1.salary as sign_salary,
    	t1.applydate as sign_applydate,t1.startdate as sign_startdate,
    	t1.enddate as sign_enddate,t1.servicefee as sign_servicefee,
    	t1.downloadurl as sign_downloadurl,t1.description as sign_description,
    	t1.signdate as sign_signdate,t1.createat as sign_createat,t1.signstate as sign_signstate
    	FROM `t_base_employer_sign` t1 LEFT JOIN `t_base_housekeeper` t2 ON t1.hkid =t2.hkid
        <where>
        	<if test="emid != null and emid != ''">
        		and t1.emid =#{emid}
        	</if>
        	<if test="hkid != null and emid != ''">
        		and t1.hkid =#{hkid}
        	</if>
        </where>
        ORDER BY t1.applydate desc  
    </select>
    
	<!-- 编辑雇主信息 -->  
	<update id="updateEmployerInfo" >
  		update t_base_employer
	    <set>
			<if test="name != null and name != ''">name=#{name},</if> 
			<if test="idcard != null and idcard != ''">idcard=#{idcard},</if>
			<if test="education != null and education != ''">education=#{education},</if>
			<if test="address1 != null and address1 != ''">address1=#{address1},</if>
			<if test="address2 != null and address2 != ''">address2=#{address2},</if>
			<if test="address3 != null and address3 != ''">address3=#{address3},</if>
			<if test="headimageurl != null and headimageurl != ''">headimageurl=#{headimageurl},</if>
			<if test="servicestate != null and servicestate != ''">servicestate=#{servicestate},</if>
			<if test="addresslabel != null and addresslabel != ''">addresslabel=#{addresslabel},</if> 
			<if test="roomarea != null and roomarea != ''">roomarea=#{roomarea},</if> 
			<if test="courtarea != null and courtarea != ''">courtarea=#{courtarea},</if> 
			<if test="bedroom != null and bedroom != ''">bedroom=#{bedroom},</if> 
			<if test="restaurant != null and restaurant != ''">restaurant=#{restaurant},</if> 
			<if test="washroom != null and washroom != ''">washroom=#{washroom},</if> 
			<if test="peoplecount != null and peoplecount != ''">peoplecount=#{peoplecount},</if> 
			<if test="oldcount != null and oldcount != ''">oldcount=#{oldcount},</if> 
			<if test="childcount != null and childcount != ''">childcount=#{childcount},</if> 
			<if test="describes != null and describes != ''">describes=#{describes},</if> 
			<if test="sex != null and sex != ''">sex=#{sex},</if>
	    </set>
  		where username=#{username}
	</update>
	
	<update id="deleteEmployer" >
  		update t_base_employer
  		<set>
	    state=#{state}
	    </set>
  		where username=#{username}
	</update>
	<delete id="deleteEmployerStar" >
  		delete from t_base_employer_housekeeper
  		where emid=#{emid} and hkid=#{hkid}
	</delete>
	<insert id="insertEmployerStar" >
  		INSERT INTO
        	`t_base_employer_housekeeper`
        	(emid, hkid)
        	VALUES
        	(#{emid},#{hkid})
	</insert>
	<insert id="insertSign" >
  		INSERT INTO
        	`t_base_employer_sign`
        	(emid, hkid,applydate)
        	VALUES
        	(#{emid},#{hkid},CURDATE())
	</insert>  
	<insert id="insertContract" >
  		INSERT INTO
        	`t_base_employer_contact`
        	(emid, hkid,phonetime)
        	VALUES
        	(#{emid},#{hkid},now())
	</insert>
	<insert id="addViewCard" >
  		INSERT INTO
        	`t_base_employer_viewcard`
        	(emid, ccid,totalcount,remaincount,buytime)
        	VALUES
        	(#{emid},#{ccid},#{totalcount},#{remaincount},now())
	</insert>
	<update id="updateViewCard" >
  		update
        	`t_base_employer_viewcard`
       	<set>
	    	totalcount = totalcount + #{totalcount}
	    </set>
        	where
        	emid =#{emid} and ccid=#{ccid}
	</update>  
	<update id="updateRemainCount" >
  		update
        	`t_base_employer_viewcard`
       	<set>
	    	remaincount = remaincount - 1
	    </set>
        	where
        	emid =#{emid} and ccid=#{ccid}
	</update>  
	
	<update id="updateContract" >
  		update
        	`t_base_employer_contact`
       	<set>
	    	phonetime=now()
	    </set>
        	where
        	emid =#{emid} and hkid=#{hkid}
	</update>  
</mapper>
